<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Fifth Wheel Co. - Heavy Equipment Solutions</title>
      <!-- fav icon -->
      <link rel="shortcut icon" href="assets/img/icon/ca-fav-3.svg">
      <!-- css file -->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/all.css">
      <link rel="stylesheet" href="/assets/css/magnific-popup.css">
      <link rel="stylesheet" href="/assets/css/slick.css">
      <link rel="stylesheet" href="/assets/css/slick-theme.css">
      <link rel="stylesheet" href="/assets/css/nice-select.css">
      <link rel="stylesheet" href="/assets/css/typography.css">
      <link rel="stylesheet" href="/assets/css/aos.css">
      <link rel="stylesheet" href="/assets/css/style.css">
      <link rel="stylesheet" href="/assets/css/responsive.css">
   </head>
   <body>
      <!-- preloader -->
      <div id="preloader">   
         <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
               <div class="spinner"></div>
               <div class="txt-loading">
                  <span data-text-preloader="F" class="letters-loading">F</span>
                  <span data-text-preloader="W" class="letters-loading">W</span>
                  <span data-text-preloader="C" class="letters-loading">C</span>
               
               </div>
            </div>
            <div class="loader">
               <div class="row">
                  <div class="col-3 loader-section section-left">
                     <div class="bg"></div>
                  </div>
                  <div class="col-3 loader-section section-left">
                     <div class="bg"></div>
                  </div>
                  <div class="col-3 loader-section section-right">
                     <div class="bg"></div>
                  </div>
                  <div class="col-3 loader-section section-right">
                     <div class="bg"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- preloader end -->
      
      <!-- Hedaer area start -->
      <header class="header-area-3 stiky">
         <div class="container header-3">
            <div class="row align-items-center">
               <div class="col-xl-3 col-lg col-md-6 col-6">
                  <!-- ca-logo -->
                  <div class="ca-logo">
                     <a href="index.html"><img src="assets/img/logo/fifth-wheel-logo.png" alt="" style="width: 190px;"></a>
                  </div>
               </div>
               <div class="col-xl-6 d-none d-xl-block">
                  <div class="ca-main-menu-3 text-center">
                     <nav id="mobile-menu">
                        <ul>
                           <li><a href="index.html">Home</a></li>
                           <li><a href="about.html">About</a></li>
                           <li><a href="projects.html">Projects</a></li>
                           <li><a href="contact.html">Contact</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
               <div class="col-xl-3 col-lg col-md-6 col-6">
                  <!-- ca-btn -->
                  <div class="ca-btn-header d-none d-lg-block text-end">
                     <a href="contact.html" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Get A Quote <span><i class="fa-solid fa-angle-right"></i></span></a>
                  </div>
                  <div class="ca-header-action-item d-lg-none text-end">
                     <button type="button" class="ca-offcanvas-toogle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                           <rect x="10" width="20" height="2" fill="currentColor"></rect>
                           <rect x="5" y="7" width="25" height="2" fill="currentColor"></rect>
                           <rect x="10" y="14" width="20" height="2" fill="currentColor"></rect>
                        </svg>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </header>

      <!-- offcanvas start -->
      <div class="ca-offcanvas w-bg">
         <div class="ca-offcanvas-wrapper">
            <div class="ca-offcanvas-header d-flex justify-content-between align-items-center mb-40">
               <div class="ca-offcanvas-logo">
                  <a href="#"><img src="assets/img/logo/fifth-wheel-logo.png" alt="" style="width: 200px;"></a>
               </div>
               <div class="ca-offcanvas-close">
                  <button class="ca-offcanvas-close-toggle"><i class="fal fa-times"></i></button>
               </div>
            </div>
            <div class="ca-offcanvas-menu-1 mb-40">
               <nav>
               <ul>
                              <li>
                                 <a href="/">Home</a>
                              </li>
                              
                              <li><a href="/about.html">About Us</a></li>
                              <li>
                                 <a href="/projects.html">Projects</a>
                              </li>
                              <li>
                                 <a href="/contact.html">Contact</a>
                              </li>
                            </ul></nav>
            </div>
            <div class="ca-offcanvas-contact mb-40">
               <a href="#" class="ca-btn-primary theme-bg-3 text-white br-50">Get A Quote <span><i class="fa-solid fa-angle-right"></i></span></a>
            </div>
            <div class="ca-offcanvas-contact-info mb-40">
               <h3 class="ca-offcanvas-sm-title">Contact Info</h3>
               <div class="ca-sm-conatct-location ca-sm-conatct-location-3">
                  <!-- single item -->
                  <div class="ca-sm-single-item-4 mb-20">
                     <div class="icon">
                        <span>
                           <i class="fa-solid fa-location-dot"></i>
                        </span>
                     </div>
                     <div class="ca-sm-single-item-4-content">
                        <p><a href="#">55 Street, 2nd block, 3rd Floor
                           Melbourne, Australia</a></p>
                     </div>
                  </div>

                  <!-- single item -->
                  <div class="ca-sm-single-item-4 mb-20">
                     <div class="icon">
                        <span>
                           <i class="fa-solid fa-phone"></i>
                        </span>
                     </div>
                     <div class="ca-sm-single-item-4-content">
                        <p><a href="tel:+0221234568806">+022 (123) 456 88 06</a></p>
                     </div>
                  </div>

                  <!-- single item -->
                  <div class="ca-sm-single-item-4 mb-20">
                     <div class="icon">
                        <span>
                           <i class="fa-solid fa-envelope"></i>
                        </span>
                     </div>
                     <div class="ca-sm-single-item-4-content">
                        <p><a href="mailto:infocargon@gmail.com">infocargon@gmail.com</a></p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ca-offcanvas-social mb-40">
               <h3 class="ca-offcanvas-sm-title">Follow Us</h3>
               <div class="ca-footer-social">
                  <ul>
                     <!-- <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                     <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                     <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                     <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li> -->
                     <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="ca-offcanvas-overlay"></div>
      <!-- offcanvas end -->
           
