<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Fifth Wheel Co. - Heavy Equipment Solutions</title>
      <!-- fav icon -->
      <link rel="shortcut icon" href="assets/img/icon/ca-fav-3.svg">
      <!-- css file -->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/all.css">
      <link rel="stylesheet" href="/assets/css/magnific-popup.css">
      <link rel="stylesheet" href="/assets/css/slick.css">
      <link rel="stylesheet" href="/assets/css/slick-theme.css">
      <link rel="stylesheet" href="/assets/css/nice-select.css">
      <link rel="stylesheet" href="/assets/css/typography.css">
      <link rel="stylesheet" href="/assets/css/aos.css">
      <link rel="stylesheet" href="/assets/css/style.css">
      <link rel="stylesheet" href="/assets/css/responsive.css">
   </head>
   <body>
      <!-- preloader -->
      <div id="preloader">   
         <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
               <div class="spinner"></div>
               <div class="txt-loading">
                  <span data-text-preloader="C" class="letters-loading">C</span>
                  <span data-text-preloader="A" class="letters-loading">A</span>
                  <span data-text-preloader="R" class="letters-loading">R</span>
                  <span data-text-preloader="G" class="letters-loading">G</span>
                  <span data-text-preloader="O" class="letters-loading">O</span>
                  <span data-text-preloader="N" class="letters-loading">N</span>
               </div>
            </div>
            <div class="loader">
               <div class="row">
                  <div class="col-3 loader-section section-left">
                     <div class="bg"></div>
                  </div>
                  <div class="col-3 loader-section section-left">
                     <div class="bg"></div>
                  </div>
                  <div class="col-3 loader-section section-right">
                     <div class="bg"></div>
                  </div>
                  <div class="col-3 loader-section section-right">
                     <div class="bg"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- preloader end -->
      
      <!-- Hedaer area start -->
      <header class="header-area-3 stiky">
         <div class="container header-3">
            <div class="row align-items-center">
               <div class="col-xl-3 col-lg col-md-6 col-6">
                  <!-- ca-logo -->
                  <div class="ca-logo">
                     <a href="index.html"><img src="assets/img/logo/fifth-wheel-logo.png" alt="" style="width: 190px;"></a>
                  </div>
               </div>
               <div class="col-xl-6 d-none d-xl-block">
                  <div class="ca-main-menu-3 text-center">
                     <nav id="mobile-menu">
                        <ul>
                           <li><a href="index.html">Home</a></li>
                           <li><a href="about.html">About</a></li>
                           <li><a href="projects.html">Projects</a></li>
                           <li><a href="contact.html">Contact</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
               <div class="col-xl-3 col-lg col-md-6 col-6">
                  <!-- ca-btn -->
                  <div class="ca-btn-header d-none d-lg-block text-end">
                     <a href="contact.html" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Get A Quote <span><i class="fa-solid fa-angle-right"></i></span></a>
                  </div>
                  <div class="ca-header-action-item d-lg-none text-end">
                     <button type="button" class="ca-offcanvas-toogle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                           <rect x="10" width="20" height="2" fill="currentColor"></rect>
                           <rect x="5" y="7" width="25" height="2" fill="currentColor"></rect>
                           <rect x="10" y="14" width="20" height="2" fill="currentColor"></rect>
                        </svg>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </header>
